* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#message-input {
    position: sticky;
    padding-left: 10px;
    width: 50vw;
    height: 35px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#send-button {
    background-color: lime;
    color: black;
    font-size: larger;
    height: 40px;
    width: 60px;
    padding: 2px;
    border: 2px solid lime;
    border-radius: 25px;
    margin-bottom: 4px;
    margin-left: 10px;
}

#message-container {
    margin: auto;
    background:white;
    width: 50%;
    font-size: 20px;
    margin-bottom: 65px;
    padding-left: 5px;
}
#message-container div{
    border-radius: 25px;
    padding: 5px;
    margin: 7px;
}


/*#room-container {
    border: 2px solid red;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 15px;
    padding:5px;
    width: 350px;
}*/
#room-container {
    margin: auto;
    text-align: center;
    background:white;
    width: 50%;
}
#room-container div{
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 5px;
}
#room-container div:nth-child(odd) {background: #cccccc;}

#room-input {
    position: sticky;
    padding-left: 10px;
    width: 250px;
    height: 25px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 25px;
}

#new-room-button {
    background-color: green;
    color: white;
    height: 30px;
    width: 70px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 15px;
}

.connected {
    color: black;
    background-color: lime;
}
.disconnected {
    color: white;
    background-color: red;
}
.you {
    text-align: right;
    padding-right:10px;
    border: 3px solid blue;
}
.other{
    text-align: left;
    padding-left: 10px;
    border: 3px solid grey;
}
.notUser{
    text-align: center;
    border: 2px solid black;
}