* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#message-input {
    position: sticky;
    padding-left: 10px;
    width: 50vw;
    height: 35px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#send-button {
    background-color: lime;
    color: black;
    font-size: larger;
    height: 40px;
    width: 60px;
    padding: 2px;
    border: 2px solid lime;
    border-radius: 25px;
    margin-bottom: 4px;
    margin-left: 10px;
}

#message-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    background:white;
    width: 50%;
    font-size: 20px;
    margin-bottom: 65px;
    padding-left: 5px;
}
#message-container div{
    padding: 5px;
    margin: 7px;
}

#room-container {
    margin: auto;
    text-align: center;
    background:white;
    width: 50%;
}
#room-container div{
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 5px;
}

#room-input {
    position: sticky;
    padding-left: 10px;
    width: 250px;
    height: 25px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 25px;
}

#new-room-button {
    background-color: green;
    color: white;
    height: 30px;
    width: 70px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 15px;
}

.connected {
    color: lime;
}
.disconnected {
    color: red;
}
.you {
    grid-column: 2/ span 2;
    text-align: right;
    padding-right:10px;
    background-color: #3ec8ff;
}
.other{
    grid-column: 1/ span 1;
    text-align: left;
    padding-left: 10px;
    background-color:  rgb(165, 165, 165);
}
.notUser{
    grid-column: 1/ span 2;
    text-align: center;
    background-color: white;
}